body{
  font-family: 'Source Sans Pro', sans-serif;
}

.leftbox {
  border: 5px solid;
  width: 400px;
  height: 120px;
  left: 15%;
  top: 30px;
  position: fixed;
  font-size: 50px;
  text-align: center;
}

.titles {
  position: fixed;
  top: 200px;
  left:15%;
  width: 400px;
  height: calc(100% - 200px);
  overflow: scroll;
}

.previews {
  position: fixed;
  top: 200px;
  left: 50%;
  width: 32%;
  height: calc(100% - 200px);
  overflow: scroll;
}

.fiveelephants {
  position: relative;
  top: 25%;
}

.rightbox {
  border: 5px solid;
  width: 32%;
  height: 120px;
  left: 50%;
  top: 30px;
  position: fixed;
}

.tags {
  padding: 20px;
  font-size: 18px;
}

.container {
  padding: 0px;
  width: 100%;
}

.container> div {
  display: inline-block;
  margin: 1%;
  padding: 2px;
}

.title {
  font-size: 35px;
}

.description {
  font-size: 20px;
  margin-bottom: 30px;
}


/*******************Hover colors ********/

#category1:hover {
  background-color: #d1e8c5;
  cursor: pointer;
}

#category2:hover {
  background-color: #fcf6b1;
  cursor: pointer;
}

#category3:hover {
  background-color: #d2edf3;
  cursor: pointer;
}

#category4:hover {
  background-color: #fdcc99;
  cursor: pointer;
}

#category5:hover {
  background-color: #fbcbcc;
  cursor: pointer;
}

#category6:hover {
  background-color: #fbf6b3;
  cursor: pointer;
}

.category1_profile_color:hover {
  background-color: #d1e8c5;
  cursor: pointer;
}

.category2_profile_color:hover {
  background-color: #fcf6b1;
  cursor: pointer;
}

.category3_profile_color:hover {
  background-color: #d2edf3;
  cursor: pointer;
}

.category4_profile_color:hover {
  background-color: #fdcc99;
  cursor: pointer;
}

.category5_profile_color:hover {
  background-color: #fbcbcc;
  cursor: pointer;
}

.category6_profile_color:hover {
  background-color: #fbf6b3;
  cursor: pointer;
}

.category1_preview_color{
  background-color: #d1e8c5;
  padding: 10px;
}
.category2_preview_color{
  background-color: #fcf6b1;
  padding: 10px;
}
.category3_preview_color{
  background-color: #d2edf3;
  padding: 10px;
}
.category4_preview_color{
  background-color: #fdcc99;
  padding: 10px;
}
.category5_preview_color{
  background-color: #fbcbcc;
  padding: 10px;
}
.category6_preview_color{
  background-color: #fbf6b3;
  padding: 10px;
}

.embed-container {
   padding-bottom: 40.25%;
}

.cursor-pointer{
  cursor: pointer;
}

.content-width{
  width: 1000px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: justify;
  margin: 0px auto;
  /*padding-left: 50px;*/
  /*padding-right: 50px;*/

}
#proj_text{
  width: 900px;
  margin: 0px auto;
}

.samay-lekha{
  width: 1000px;
}
.cream{
    background-color: #f5efd9;

}

.grey{
    background-color: #ebebeb;

}

#largeImgPanel {
    visibility: hidden;
    position: fixed;

}

#logotype {

    text-align: center;
    text-align: middle;
    text-color: solid gray;
    width: 250px;
    height: 50px;
    border: 5px solid gray;
    padding: 5px;
    margin: 5px;

}

/*Media Queries*/
/* Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}
}

/* Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}

@media (min-device-width:600px) {
    img[data-src-600px] {
        content: attr(data-src-600px, url);
    }
}

@media (min-device-width:800px) {
    img[data-src-800px] {
        content: attr(data-src-800px, url);
    }
}

/****Responsive ness **/
* {
    box-sizing: border-box;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
html {
    font-family: "Lucida Sans", sans-serif;
}
.header {
    background-color: #9933cc;
    color: #ffffff;
    padding: 15px;
}
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: #33b5e5;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.menu li:hover {
    background-color: #0099cc;
}
/************************/

.no-link-style{
  text-decoration: none;
  color:#000000;
}

::-webkit-scrollbar {
  display:none;
}
